body {
  width: auto;
  height: auto;
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  background-color: yellow;

}

.text {
  display: block;
  width: 50%;
  height:100px;
  background-position: center;
}

.сalkulator button {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height:50px;
  margin: 15px;
  background-color: red;

}

button .zero {
  display: block;
  margin-left: 100px;
}

.btn {
  display: block;
  width:25%;
  height:50px;
  background-position: center;
  background-color: green;
  margin-top: 10px;
}
